@import url("https://fonts.google.com/specimen/Nunito+Sans");

* {
    box-sizing: border-box;
}

:root {
    --background: hsl(0, 0%, 98%);
    --input-color: hsl(0, 0%, 52%);
    --element-color: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);

}

body {
    background-color: var(--background);
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

header {
    background-color: var(--background);
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    min-width: 375px;
    padding: 30px;
    flex-wrap: wrap; /* aşağı kaymasını sağlamak için */
}

h1 {
    margin: 0;
}

/* Input */

.search-input {
    border-radius: 5px;
    padding: 25px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 14px;
    min-width: 300px;
    background-color: var(--element-color);
    color: var(--input-color);
}

/* Dropdown Filter */

.dropdown-filter {
    border-radius: 5px;
    background-color: var(--element-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 14px;
    padding: 25px;
    position: relative;
    cursor: pointer;
    color: var(--input-color);
}

.dropdown-filter ul {
    position: absolute;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    top: 90%;
    left: 0;
    list-style-type: none;
    color: var(--element-color);
    background-color: var(--element-color);
    color: var(--input-color);
    display: none; /* gizledik sonrasinda acacagiz */
    
}

.dropdown-filter.open ul {
    display: block;
}

.dropdown-filter .fa-chevron-down {
    margin-left: 10px;
}

.dropdown-filter li {
    margin: 10px 0;
}


/* Countries Card Section Style */


.card {
    width: 300px;
    background-color: var(--element-color);
    color: var(--text-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden; /* image'in kenarlarını yuvarlamak için */
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 20px;
    cursor: pointer;
    
    

}

.card-content {
    padding: 30px;
}

.card-content h2 {
    margin-top: 0;
}

.card-container {
    justify-content: center;
}